html, body {
  height: 100%;
  width: 100%;
  margin-left:0px;
  margin-top:0px;
}

body {
    background-image: url("Images/background.png");
    background-repeat: repeat;
}

#optionContainer {
  display:flex;
  flex-direction:row;
  justify-content: center;
  flex-wrap: wrap;
}
#containerOption {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 300px;
    margin: 15px;
    padding: 30px;
    padding-top:10px;
    font-size: 100%;
    font-family: 'Quicksand', serif;
    border-bottom: #757575 3px solid;
    border-radius: 10px;
}
#containerOption:hover {
  opacity:0.5;
}
#containerOption h2{
  text-shadow: 0px 2px #d4d4d4;
  font-weight: bold;
  font-size:150%;
}

.gameicons {
  width:50px; 
  height:auto; 
  display:flex; 
  float:right; 
  padding:10px; 
  padding-top: 0px;
  padding-bottom:0px;
}

#gamesImg {
    width: 400px;
    height: auto;
    margin-top: -25px;
    margin-bottom: -50px;
}

.bimg {
   width: 512px; 
  height: 512px;
}

.center {
  padding:100px;
  text-align:center;
}

.head {
  text-align:left;
  font-family: 'Quicksand', serif;
  align-self: flex-end;
  font-size:40px;
  font-weight: bold;
  text-shadow: 0px 2px #cccccc;
}

#imageScroll {
    width: 40%;
    height: auto;
    background-color: #FFFFFF88;
    border-style: solid;
    border-radius: 10%;
    border-width: 20px;
    border-color: #FFFFFF22;
}

@media screen and (max-width: 700px) {
  img {
    width: 100%;
    height: auto;
  }
  .bimg {
    width: 100%;
    height: auto;
  }
  .center {
    padding:25px;
    padding-bottom: 100px;
  }
  .head {
    text-align: center;
  }
  #imageScroll {
      width: 60%;
  }
  #gamesImg {
      width: 350px;
      height: auto;
      margin-left:0px;
      margin-bottom:-20px;
  }
}

#crowdance:hover {
  transform: scaleX(-1);
}
#containerOption img {
  width:100px;
}

h1 {
  text-align:center;
  font-family: 'Quicksand', serif;
  align-self: flex-end;
  font-size:60px;
  font-weight: bold;
}

p {
  text-align:left;
  font-family: 'Quicksand', serif;
  align-self: flex-end;
  font-size:20px;
}

#containerOption p {
    text-align: center;
}

#choccros {
    float: right;
    width: 50%;
}
#choctext {
    text-align: right;
}

button {
    margin-bottom: 4px;
    color: darkolivegreen;
    background-color: #daffd4;
    border-color: darkolivegreen;
    border-style: double;
    border-radius:5%;
}

a:link, a:visited, a:hover, a:active {
    color:darkslateblue;
    text-decoration: none;
}
