html, body {
  height: 100%;
  width: 100%;
  margin-left:0px;
  margin-top:0px;
  overflow-x: hidden;
}
p {
  font-family: 'Quicksand';
  font-size:25px;
}
.top {
  display:flex;
  padding-top:20px;
  justify-content: space-between; 
  background-image: linear-gradient(rgba(194, 255, 251, 1), rgba(231, 251, 255, 1),rgba(231, 251, 255, 0));
}
#crowdance:hover {
  transform: scaleX(-1);
}
body {
  background-image: url("Images/background.png");
  background-repeat: repeat;
}
.gamesSection {
  margin-top:50px;
  display:flex;
  flex-direction:column;
  align-items:center;
}
a:link, a:visited, a:hover, a:active {
  color:darkslateblue;
  text-decoration: none;
}
.gamesContainer {
  display:flex;
  align-items:center;
  justify-content:center;
  flex-wrap:wrap;
}
iframe {
  margin:10px;
  border-radius:6px;
}
.aboutMe {
  background-image: url("Images/seatobelievebackground.png");
  background-size:100%;
  background-repeat:no-repeat;

  display:flex;
  flex-direction:column;
  
  height:111.55%;
  margin-top:100px;

  border-width:10px;
  border-left:0px;
  border-right:0px;
  border-style:double;
  border-color:rgba(78, 104, 133, 1);

  color:rgb(230, 249, 255);
  font-family: 'Quicksand';
  text-align:right;
}
#bottomArea {
  display:flex; 
  justify-content: space-between; 
  margin: -50px; 
  padding-top: 200px;
  font-family: 'Quicksand', serif;
}
#imageScrollL, #imageScrollC, #imageScrollR {
  background-color: #FFFFFF88;
  border-style: solid;
  border-radius: 10%;
  border-width: 20%;
  border-color: #FFFFFF22;
  margin:0.3%;
}
button {
  margin-bottom: 4px;
  color: darkolivegreen;
  background-color: #daffd4;
  border-color: darkolivegreen;
  border-width: 2px;
  border-radius:5%;
}
.zoomedinMessage {
  display:none;
}
@media screen and (max-width: 1200px) {
  .aboutMe {
    display:none;
  }
  #bottomArea {
    display:none;
  }
  .zoomedinMessage {
    padding: 30px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    text-align:center;
    font-family: 'Quicksand';
    background-image: linear-gradient(rgba(1,1,1,0), rgb(49, 111, 122));
  }
}
/*
#optionContainer {
  display:flex;
  flex-direction:row;
  justify-content: center;
  flex-wrap: wrap;
}
#containerOption {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 300px;
    margin: 15px;
    padding: 30px;
    padding-top:10px;
    font-size: 100%;
    font-family: 'Quicksand', serif;
    border-bottom: #757575 3px solid;
    border-radius: 10px;
}
#containerOption:hover {
  opacity:0.5;
}

h2{
  font-family: 'Quicksand', serif;
  text-shadow: 0px 2px #d4d4d4;
  font-weight: bold;
  font-size:150%;
}

.gameicons {
  width:50px; 
  height:auto; 
  display:flex; 
  float:right; 
  padding:10px; 
  padding-top: 0px;
  padding-bottom:0px;
}

#gamesImg {
    width: 400px;
    height: auto;
    margin-top: -25px;
    margin-bottom: -50px;
}

.bimg {
   width: 512px; 
  height: 512px;
}

.center {
  padding:100px;
  text-align:center;
}

.head {
  text-align:left;
  font-family: 'Quicksand', serif;
  align-self: flex-end;
  font-size:40px;
  font-weight: bold;
  text-shadow: 0px 2px #cccccc;
}

#imageScrollL, #imageScrollC, #imageScrollR {
    width: 60%;
    height: auto;
    background-color: #FFFFFF88;
    border-style: solid;
    border-radius: 10%;
    border-width: 20%;
    border-color: #FFFFFF22;
    margin:1%;
}

#choccros {
  float: right;
  width: 256px;
  height: auto;
}

@media screen and (max-width: 700px) {
  #bottomArea {
  flex-direction:column;
  }
  img {
    width: 100%;
    height: auto;
  }
  .bimg {
    width: 100%;
    height: auto;
  }
  .center {
    padding:25px;
    padding-bottom: 100px;
  }
  .firstmodule {
    padding-top:100px;
  }
  .head {
    text-align: center;
  }
  #gamesImg {
      width: 300px;
      height: auto;
      margin-left:0px;
      margin-bottom:-20px;
  }
  #choccros {
    width: 150px;
    height: auto;
  }
  .top {
   position: absolute;
   background-image: linear-gradient(rgba(194, 255, 251, 1), rgba(231, 251, 255, 1),rgba(231, 251, 255, 0));
  }
}

#crowdance:hover {
  transform: scaleX(-1);
}
#containerOption img {
  width:100px;
}

h1 {
  text-align:center;
  font-family: 'Quicksand', serif;
  align-self: flex-end;
  font-size:60px;
  font-weight: bold;
}

p {
  text-align:left;
  font-family: 'Quicksand', serif;
  align-self: flex-end;
  font-size:20px;
}

#containerOption p {
    text-align: center;
}

#choctext {
    text-align: right;
}

button {
    margin-bottom: 4px;
    color: darkolivegreen;
    background-color: #daffd4;
    border-color: darkolivegreen;
    border-width: 2px;
    border-radius:5%;
}

a:link, a:visited, a:hover, a:active {
    color:darkslateblue;
    text-decoration: none;
}

#perClick, #autoClick, #increaseButton {
    width: 256px;
    align-self:end;
}

iframe {
  margin: 8px;
  border-radius:6px;
}*/