html, body {
  height: 100%;
  width: 100%;
  margin-left:0px;
  margin-top:0px;
  overflow-x: hidden;
}
p {
  font-family: 'Quicksand';
  font-size:25px;
}
.top {
  display:flex;
  padding-top:20px;
  justify-content: space-between; 
  background-image: linear-gradient(rgba(194, 255, 251, 1), rgba(231, 251, 255, 1),rgba(231, 251, 255, 0));
}
#crowdance:hover {
  transform: scaleX(-1);
}
body {
  background-image: url("Images/background.png");
  background-repeat: repeat;
}
.gamesSection {
  margin-top:50px;
  display:flex;
  flex-direction:column;
  align-items:center;
}
a:link, a:visited, a:hover, a:active {
  color:darkslateblue;
  text-decoration: none;
}
.gamesContainer {
  display:flex;
  align-items:center;
  justify-content:center;
  flex-wrap:wrap;
}
iframe {
  margin:10px;
  border-radius:6px;
}
.aboutMe {
  background-image: url("Images/seatobelievebackground.png");
  background-size:100%;
  background-repeat:no-repeat;

  display:flex;
  flex-direction:column;
  
  height:111.55%;
  margin-top:100px;

  border-width:10px;
  border-left:0px;
  border-right:0px;
  border-style:double;
  border-color:rgba(78, 104, 133, 1);

  color:rgb(230, 249, 255);
  font-family: 'Quicksand';
  text-align:right;
}
#bottomArea {
  display:flex; 
  justify-content: space-between; 
  margin: -50px; 
  padding-top: 200px;
  font-family: 'Quicksand', serif;
}
#imageScrollL, #imageScrollC, #imageScrollR, #imageScrollCe {
  background-color: #FFFFFF88;
  border-style: solid;
  border-radius: 10%;
  border-width: 20%;
  border-color: #FFFFFF22;
  margin:0.3%;
}
button {
  margin-bottom: 4px;
  color: darkolivegreen;
  background-color: #daffd4;
  border-color: darkolivegreen;
  border-width: 2px;
  border-radius:5%;
}
.zoomedinMessage {
  display:none;
}
@media screen and (max-width: 1200px) {
  .aboutMe {
    display:none;
  }
  #bottomArea {
    display:none;
  }
  .zoomedinMessage {
    padding: 30px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    text-align:center;
    font-family: 'Quicksand';
    background-image: linear-gradient(rgba(1,1,1,0), rgb(49, 111, 122));
  }
}
